<section class="container">
	<section class="row">
		<div class="col-md-4 bg-light border" *ngFor="let c of chartdata; let i = index">
			<div class="card">
				<div class="card-header">
					{{c.locationName}}
				</div>
				<div class="card-body">
					<p class="card-text">
						SBIMF
					</p>
					<div class="mb-2 border-bottom" #chartReportsbimf>
						<canvas #canvassbimf [datasets]="sbimfData"></canvas>
					</div>
					<p class="card-text">
						Market Share
					</p>
					<div class="mb-2 border-bottom" #chartReportms>
						<canvas #canvasms [datasets]="msData"></canvas>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<!-- <canvas #stackchartcanvas></canvas> -->
<!-- </div>